.example__title {
    font-family: 'Inter', Courier, monospace;
    color: #ffffff;
    font-weight: 900;
    font-size: 28px;
    margin: 0 auto 0;
}

@media screen and (max-width: 1024px) {
    .example__title {
        font-size: 25px;
    }
}

@media screen and (max-width: 768px) {
    .example__title {
        font-size: 23px;
    }
}

@media screen and (max-width: 568px) {
    .example__title {
        font-size: 21px;
    }
}