.example__github-link {
    font-family: 'Inter', Courier, monospace;
    color: #ffffff;
    font-weight: 400;
    font-size: 10px;
    opacity: 0.8;
}

.example__github-link:hover {
    opacity: 0.5;
}