.example__github-image {
    background-image: url(../../../images/GitHub-Mark.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin-right: 5px;
}