.about__subtitle {
    font-family: 'Inter', Courier, monospace;
    color: #ffffff;
    font-size: 40px;
    margin: 0 auto 35px;
}

@media screen and (max-width: 1024px) {
    .about__subtitle {
        font-size: 35px;
    }
}

@media screen and (max-width: 768px) {
    .about__subtitle {
        font-size: 30px;
    }
}

@media screen and (max-width: 568px) {
    .about__subtitle {
        font-size: 25px;
    }
}