.examples__title {
    font-family: 'Inter', Courier, monospace;
    color: #ffffff;
    font-weight: 700;
    font-size: 50px;
    margin: 0 auto 0;
}

@media screen and (max-width: 568px) {
    .examples__title {
        font-size: 40px;
    }
}